{% extends 'base.html' %}


{% block content %}

<div class="container">

    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="#"><img src="https://cdn-sliders.eneba.com/resized/6tdZja_OvU06zD2oaZxXXJCdCY9FGw2IUlSqRTLwRog_1500x400_1x-1500x400_150_0.jpg" class="d-block w-100" alt="..."></a>
            </div>
            <div class="carousel-item">
                <img src="https://cdn-sliders.eneba.com/resized/HHRC3dixhujRmmmcT_dN-VS2LlHEtiOw6lJjM4ekB_Q_1500x400_1x-1500x400_150_0.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://cdn-sliders.eneba.com/resized/R6LtqE1GaK-xF7H5BjDMcw7ACBIaTQJJZOC9_e2790s_1500x400_1x-1500x400_150_0.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>


{% endblock content %}