{% extends 'base.html' %}


<!--todo| CONTENIDO PRINCIPAL DE LA PAGINA-->
{% block content %}

<div class="container">
    <div class="row">

        <h2 class="m-3">Mi Carrito</h2>

        <div class="col-lg-8 m-3" style="background-color: aqua;">

            <H2>sona de productos de carro</H2> 

            <div class="row" style="background-color: beige;">

                <div class="col-2" style="background-color: azure;">
                    <p>imagen</p>

                </div>

                <div class="col row">

                    <div class="col-12" style="background-color: black;">
                        <p>nombre</p>
    
                    </div>

                    <div class="col-6" style="background-color: black;">
                        <p>plataforma</p>
    
                    </div>

                    <div class="col-6" style="background-color: black;">
                        <p>Precio</p>
    
                    </div>

                </div>

                

            </div>

            

        </div>

        <div class="col" style="background-color: brown;">

            <h2>SONA DE RESUMEN DE COMPRAS</h2>

        </div>
    </div>

</div>


{% endblock content %}