{% extends 'base.html' %}


{% block title %} <title>Login</title> {% endblock title %}


{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <form action="" method="post" class="row justify-content-center">
        <div class="col-lg-6 shadow-lg p-3 ">
            <p class="fs-3">Inicio de Sesion</p>
            <hr>
            {% csrf_token %}

            {{form | crispy}}

            <div class="hstack gap-3 mb-3">
                <div class="p-2 ms-auto"><a href="{% url 'home:registro' %}">Registrate</a></div>
                <div class="vr"></div>
                <div class="p-2"><a href="#">Olvide mi Contraseña</a></div>
            </div>

            <div class="d-grid gap-2">
                <button class="btn btn-success" type="submit">Ingresar</button>
            </div>

        </div>

    </form>
</div>

{% endblock content %}