{% extends 'base.html' %}


{% block title %}
<title>Registro</title>
{% endblock title %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container mb-5">

    <form action="" class="row justify-content-center" method="POST">
        <div class="col-lg-6 shadow p-3 text-light">

            <p class="fs-3">Registro de Usuario</p>
            <hr>

            {% csrf_token %}
            {{form | crispy}}

            <p>Si ya tienes cuenta <a href="{% url 'login' %}">Inicia Sesion</a></p>

            <div class="d-grid gap-2">
                <button class="btn btn-success" type="submit">Registrar</button>
            </div>

        </div>


    </form>



</div>

{% endblock content %}