{% extends 'base.html' %}


{% block title %}
<title>Juego</title>
{% endblock title %}

{% load humanize %}


{% block content %}
{% for i in juego %}

<div class="container">
    <div class="row p-3">

        <!--todo | Imagen |-->
        <div class="col-lg-3">
            <img src="{{i.imagen.url}}" alt="" class="img-fluid">
        </div>

        <!--todo| Nombre e Informacion |-->
        <div class="col text-center">

            <p>{{i.nombre}}</p>

            {% if i.trailer %}
            <iframe width=" 560" height="315" src="{{i.trailer}}
                title=" YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
            {% else %}
            <p>No tiene trailer :(</p>
            {% endif %}

        </div>

        <!--todo | Compra |-->
        <div class="col-lg-3 shadow">

            <div>

            </div>

            <div>

                <p>CLP {{i.precio | intcomma}}</p>

            </div>

            <div class="d-grid gap-2">
                <button class="btn btn-warning" type="button">Comprar ahora</button>
                <a class="btn btn-outline-primary" type="button" href="{% url 'carro:agregar' i.id %}">
                    <i class="fa-solid fa-cart-shopping"></i> 
                    Añadir al carrito
                </a>
            </div>

        </div>

    </div>

</div>


{% endfor %}
{% endblock content %}