{% extends 'base.html' %}


{% block title %}

<title>Juegos</title>

{% endblock title %}



{% block content %}

{% load humanize %}

<div class="container p-5">
    <div class="row">

        <p>Titulo de pagina de juegos</p>

        <div class="col-lg-2">
            <p>Esto sera el filtro</p>
        </div>

        <div class="col-lg-10">

            <p>Esta es la pagina de los juegos</p>

            <div class="row row-cols-1 row-cols-md-3 g-4 p-5">

                {% for i in juegos %}
                <a href="{% url 'detalle_juego' i.id %}">
                    <div class="col">
                        <div class="card h-100">
                            <img src="{{i.imagen.url}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{i.nombre}}</h5>
                            </div>
                            <div class="card-footer">
                                <p class="card-text">{{i.plataforma}}</p>
                                <span class="fw-bold fs-5">CLP {{i.precio | intcomma}}</span>
                            </div>
                        </div>
                    </div>
                </a>

                {% endfor %}
            </div>

        </div>
    </div>
</div>

{% endblock content %}